*.class
.classpath
.project
.metadata
# Package Files #
*.jar
*.war
*.ear
direct_connect/tools/automatic_outage/test-results/
direct_connect/tools/automatic_outage/build/
direct_connect/tools/automatic_outage/config/WEB-INF/wsdl/AutomaticOutageService.wsdl
direct_connect/tools/automatic_outage/config/WEB-INF/wsdl/AutomaticOutageService_schema1.xsd
direct_connect/tools/automatic_outage/src/com/newtrade/directconnect/jaxws/GetOutageState.java
direct_connect/tools/automatic_outage/src/com/newtrade/directconnect/jaxws/GetOutageStateResponse.java
direct_connect/tools/automatic_outage/src/com/newtrade/directconnect/jaxws/SetOutageState.java
direct_connect/tools/automatic_outage/src/com/newtrade/directconnect/jaxws/
framework/bin/
direct_connect/tools/mail/build/
direct_connect/tools/mail/test-results/
direct_connect/tools/ping_reflector/build/
**/build/**
glassfish_extention/ldap_realm/build/prod/
**/test-results/**
ivy-cache/
lib/
framework/src/com/newtrade/components/store/RemoteObjectSetImpl_Skel.java
framework/src/com/newtrade/components/store/RemoteObjectSetImpl_Stub.java
polaris_core/src/com/newtrade/net/crypto/service/client/ws/axis2/
polaris_core/src/org/w3/www/_2004/
polaris_core/src/org/xmlsoap/schemas/soap/encoding/
**/.metadata
tools/config_admin_oldNtLibs/src/com/newtrade/components/store/RemoteObjectSetImpl_Skel.java
tools/config_admin_oldNtLibs/src/com/newtrade/components/store/RemoteObjectSetImpl_Stub.java
